
@media only screen and (min-width: 300px) {
    .para{
        width: 30rem;
        font-size: 0.9rem;
        font-family: bold;
    }
}

.para{
     width: 100%
}
.textparagraph{
    width: 100%;
    height: fit-content;
    padding: 1.5rem;
}

.widthbody{
    height: 50vh;
}

