.commentflex{
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: antiquewhite;
}


@media only screen and (max-width: 300px){

    #inputbox{
         width: 100%
    }
}



